.body {
  // body settings
  justify-items: center;
  align-content: center;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;

  // body aside
  &__aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
