$text-color: #1b2129;
$bg-color: #f9f9f9;
$header-title-color: #ffffff;

$section-button-color: #f98921;
$section-button-color-hover: #1b2129;
$section-button-color-focus: #010810;

$section-about-us-bg-color: #fcfaef;

$section-input-color: #f9f9f9;
$section-input-placeholder-color: #7e7e83;
$section-input-hover-border-color: #dbdbdb;
$section-input-focus-border-color: #f98921;

$footer-label-color: #9393a3;
$footer-text-color: #191919;
