@import '_colors';
@import '_mixins';
@import '_body';
@import '_header';
@import '_top-bar';
@import '_aside';
@import '_nav';
@import '_main';
@import '_section';
@import '_product';
@import '_footer';

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: $text-color;
  box-sizing: border-box;
}
